// Variables
$black: #1d1d1f;
$dblack: #ffffff;
$white: #1d1d1f;
$gray: #6e6e73;
$lgray: #86868b;
$border: #d2d2d7;
$blue: #0071e3;

$colorOne: #017EA7;
$colorTwo: #7e3be3;
$colorThree: #ffc41d;
$colorFour: #0bc1f2;
$colorFive: #f47f20;
