// Variables
$black: #58595b;
$dblack: #1e1e1e;
$white: #dee2e6;
$gray: #ddd;
$lgray: #ccc;
$yellow: #fbad18;
$red: #be1e2d;
$colorOne: #017EA7;
$colorTwo: #7e3be3;
$colorThree: #ffc41d;
$colorFour: #0bc1f2;
$colorFive: #f47f20;
